%flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

%flex-space-around{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

%flex-space-between{
    display: flex;
    justify-content: space-between;
    align-items: center;
}